Appointment schedule.json
{
  "name": "Appointment schedule",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        -192
      ],
      "id": "bed38ed9-60e3-404d-b04a-43bc7c03fae0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AJXwtAcPftdms7sfxhCE-9iRUdEfr-2jFuskkdKfCRU",
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AJXwtAcPftdms7sfxhCE-9iRUdEfr-2jFuskkdKfCRU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 287553752,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AJXwtAcPftdms7sfxhCE-9iRUdEfr-2jFuskkdKfCRU/edit#gid=287553752"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -240,
        -80
      ],
      "id": "c63e009b-878e-4c06-9511-ddceb2dce2ea",
      "name": "Get row(s) in sheet",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "etnbPjtyURAQTOGS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eaf2817b-e54d-4b92-b408-68cea53129dc",
              "leftValue": "={{ $json[\"Reminder Due\"] }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -48,
        -80
      ],
      "id": "647eaef2-7dae-4963-befa-9d7ff7a61174",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "ayeshaashraf1566@gmail.com",
        "subject": "=Reminder: Your appointment on {{$json[\"AppointmentDate\"]}} at {{$json[\"AppointmentTime\"]}}",
        "message": "=Dear {{$json[\"PatientName\"]}},  This is a reminder of your appointment scheduled for {{$json[\"AppointmentDate\"]}} at {{$json[\"AppointmentTime\"]}}.  If you need to reschedule, reply to this email or call us at {{$json[\"Phone\"]}}.  Clinic Name",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        208,
        -176
      ],
      "id": "d6ef3b60-613a-4039-b1cb-e91d1ba72244",
      "name": "Send a message",
      "webhookId": "36832e08-dff5-42e0-abff-0243fa54c5a9",
      "credentials": {
        "gmailOAuth2": {
          "id": "ch5Cj17xJFr4MPFF",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f78fd90e-ccd7-45a1-b4ef-cf717622d129",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "56f16366906c64a911951fb893a675c39b5151855027ad46c278f4bb139716ff"
  },
  "id": "HwZ8ugtkXGxQrXkl",
  "tags": []
}